# Ignore backend build files
/wavy/bin/
/wavy/obj/
/wavy/venv/
/wavy/uploads/
/wavy/appsettings.Development.json
node_modules/
.next/

# Ignore frontend build and deps
/wavy/.next/
/wavy/node_modules/
/wavy/next-env.d.ts

# Mac system files
.DS_Store

# Logs
*.log